
.containeer {
    position: relative;
    margin: auto;
    width: 68%;
    /* background-color: cornflowerblue; */
}
.logo {
    width: 8%;
    position: relative;
}
.logo img {
    width: 100%;
}
.background-img {
    position: relative;
    width: 100%;
}
.background-img img{
    width: 100%;
}
.head-list li {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
}
.head-list a {
    padding: 0 15px;
    width: 100%;
        display: block;
}
.head-list span {
    display: block;
    padding-top: 7px;
}
.head-list {
    position: absolute;
    /* background-color: red; */
    display: inline-block;
    left: 45%;
    top: 0;
}
.head-list a {
    padding-top: 6px;
}
.head-button {
    right: 0;
    position: absolute;
    display: inline-block;
    top: 0;
}
.head-button button {
    background-color: #ef3b44;
    border: #ef3b44 solid 2px;
    border-radius: 50px;
    width: 250px;
    height: 50px;
}
.phone-language-section {
    width: 25%;
    position: absolute;
    /* background-color: bisque; */
    top: 0;
    left: 15%;
}
.lable {
    position: relative;
    background-color: white;
    width: 20%;
    padding: 5px;
    border: whitesmoke 2px solid;
    border-radius: 25%;
}
.lable img {
    width: 70%;
    float: left;
    padding-right: 7px;
}
.lable i {
    width: 30%;
    display: inline-block;

}
.phon {
    /* background-color: yellow; */
    display: block;
}

.three-input-texts {
    width: 80%;
    background-color: turquoise;
    margin: auto;
}
.input {
 width: 33%;
}