* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.containeer {
    position: relative;
    margin: auto;
    width: 68%;
    /* background-color: cornflowerblue; */
}
.logo {
    width: 8%;
    position: relative;
}
.logo img {
    width: 100%;
}
.background-img {
    position: relative;
    width: 100%;
}
.background-img img{
    width: 100%;
}
.head-list li {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
}
.head-list a {
    padding: 0 15px;
    width: 100%;
        display: block;
}
.head-list span {
    display: block;
    padding-top: 7px;
}
.head-list {
    position: absolute;
    /* background-color: red; */
    display: inline-block;
    left: 45%;
    top: 0;
}
.head-list a {
    padding-top: 6px;
}
.head-button {
    right: 0;
    position: absolute;
    display: inline-block;
    top: 0;
}
.head-button button {
    background-color: #ef3b44;
    border: #ef3b44 solid 2px;
    border-radius: 50px;
    width: 250px;
    height: 50px;
}
.phone-language-section {
    width: 25%;
    position: absolute;
    /* background-color: bisque; */
    top: 0;
    left: 15%;
}
.lable {
    position: relative;
    background-color: white;
    width: 20%;
    padding: 5px;
    border: whitesmoke 2px solid;
    border-radius: 25%;
}
.lable img {
    width: 70%;
    float: left;
    padding-right: 7px;
}
.lable i {
    width: 30%;
    display: inline-block;

}
.phon {
    /* background-color: yellow; */
    display: block;
}

.three-input-texts {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.input {
 width: 33%;
}
#keywords {
 padding:  10px 20px;
 border: solid 2px white;
 border-radius: 20px 0 0 20px;
 transition: border .9s;
}
#categories {
    padding:  10px;
    background-image: url(../imgs/grid.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 4 8;
    padding-left: 30px;
    border: solid 0px white;
    transition: border .9s;
}
#All-seties {
    padding:  10px;
    border-radius: 0 20px 20px 0;
    border: solid 0px white;
    transition: border .9s;
}
#keywords:hover, #categories:hover, #All-seties:hover {
    border: solid 2px rgb(78, 78, 223);
}
/*///////*/
.container {
    width: 68%;
    overflow: hidden;
    border-top: rgb(226, 219, 219) solid 2px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.categ-img {
    text-align: center;
    /* background-color: tomato; */
    position: relative;
    width: 10.6%;
    float: left;
    padding: 20px;
}
.categ-img img {
    width: 80%;
}
a {
    text-decoration: none;
}
.categ-img span {
    display: block; 
    width: 90px;
    padding-top: 10px;
    /* background-color: yellow; */
    color: rgb(68, 68, 211);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.between {
    margin: 0 3%;
}
.categs {
    /* background-color: violet; */
    
    margin-top: 30px;
}

/*//////////////////*/
.ads {
    border-top: 2px rgb(165, 154, 154) solid;
    border-bottom: 2px rgb(165, 154, 154) solid;
}
.feature-ads {
    position: relative;
    float: left;
    /* background-color: tomato; */
    width: 48%;
    padding-bottom: 20px;
}
.latest-ads {
    position: relative;
    float: left;
    /* background-color: lightcoral; */
    width: 48%;
    margin-left: 4%;
    padding-bottom: 20px;
}
.feature-ads-title, .latest-ads-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
    color: rgb(36, 36, 113);
    display: inline-block;
}
.feature-ads span, .latest-ads span{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: rgb(36, 36, 113);
}
.next , .prev {
    background-color: inherit;
    border: none;
}
.prev {
    padding-right: 10px;
}
.next:before {
    content: "<";
}
.prev:before {
    content: ">";
}
.container2 {
    width: 80%;
    overflow: hidden;
    /* background-color: lawngreen; */
    margin: auto;
    padding: 50px 0;
}
.feature-ads-content {
    position: absolute;
    display: inline-block;
    right: 0;
    /* background-color: royalblue; */
    top: 30%;
}
/* ads details*/
.clear {
    clear: both;
}
/* .ads-details {
    background-color: teal;
} */
.ad-img {
    position: relative;
    width: 14%;
    float: left;   
}
.ad-img img {
    width: 100%;
}
.m-right {
 margin-right: 2%;
}
.m-left {
    margin-left: 2%;
}
.middle-left {
 margin-left: 3%;
}
.middle-right {
    margin-right: 3%;
}
.ad-description {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(36, 36, 113);
}
.ad-description span {
    color: #ef3b44;
}
.ad-price {
    display: block;
    font-size: 20px;
    font-weight: bold;
    /* color: #ef3b44; */
}
/*ads btns*/
.call-btn, .chat-btn {
    background-color: inherit;
    border: 2px rgb(165, 154, 154) solid;
    border-radius: 50px 50px 50px 50px;
    width: 85px;
    height: 30px;
    transition: background-color .3s;
}
.call-btn i, .chat-btn i {
    color: rgb(165, 154, 154);
}
.ad-img > i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 75%;
    cursor: pointer;
    transition: color 0.5s;
}
.ad-img > i:hover {
   color: red;
}
.ad-img img {
    opacity: 1;
    border: rgb(52, 52, 159) solid 0px;
    outline: 0px solid rgb(110, 110, 235);
    transition: border 0.1s;
}
.ad-img img:hover {
    opacity: 0.99;
    border: rgb(52, 52, 159) solid 3px;
    outline: 3px solid rgb(110, 110, 235);
}
.call-btn:hover, .chat-btn:hover {
    background-color: rgb(231, 217, 217);
}
/* add yor store*/
.your-store-item {
    float: left;
    position: relative;
    width: 9.3%;
    padding-top: 50px;
    text-align: center;
    list-style: none;
}
.your-store-item.middle {
    margin: 0 7.35%;
}
.your-store-item img {
    width: 100%;
    border:  solid 5px;
    border-color: rgb(165, 154, 154);
    border-radius: 30%;
    transition: border .3s;
}
.your-store-item:hover img {
    border-color: rgb(27, 27, 138)
}
.your-store-item a {
    text-decoration: none;
    display: block;
    padding-top: 15px;
    font-weight: bold;
    color: rgb(27, 27, 138);
    transition: color .6s;
}
.your-store-item a:hover {
    color: rgb(110, 110, 235);
}
.your-store-item span {
    display: block;
    padding-top: 7px;
}
.cont {
    width: 65%;
}
.ad-bar {
    position: relative;
}
.ad-bar a, .ad-bar h2 {
    display: inline-block;
}
.ad-bar h2 {
    position: absolute;
    right: 50%;
    top: -100%;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
}
.ad-bar .see-all-link {
    position: absolute;
    right: 0;
}
.ad-bar .see-all-link, .ad-bar .add-link {
    color: rgb(27, 27, 138);
    text-transform: capitalize;
}