/*common*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Myriad Pro,Myriad,Liberation Sans,Nimbus Sans L,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/*Header*/
.header::before {
    content: '';
    display: block;
    height: 4px;
    background-color: #ef3b44;
    width: 100%;
}
.containeer {
    position: relative;
    margin: auto;
    width: 68%;
}
.logo {
    width: 8%;
    position: relative;
    padding-top: 12px;
}
.logo img {
    width: 100%;
}
.background-img {
    padding-top: 12px;
    position: relative;
    width: 100%;
}
.background-img img{
    width: 100%;
}
.head-list li {
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
}
.head-list a {
    padding: 0 15px;
    width: 100%;
    display: block;
}
.head-list span {
    display: block;
    padding-top: 7px;
    text-transform: capitalize;
    text-decoration: none;
}
.head-list {
    padding-top: 12px;
    position: absolute;
    left: 45%;
    top: 0;
}
.head-list a {
    padding-top: 6px;
}
.head-button {
    right: 0;
    position: absolute;
    display: inline-block;
    top: 0;
}
.head-button button {
    background-color: #ef3b44;
    border: #ef3b44 solid 2px;
    color: white;
    border-radius:0 0 25px 25px;
    width: 250px;
    height: 50px;
}
.head-button button i {
    padding-right: 10px;
}
.phone-language-section {
    width: 25%;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 15%;
}
.lable {
    position: relative;
    background-color: white;
    width: 20%;
    padding: 5px;
    border: whitesmoke 2px solid;
    border-radius: 25%;
}
.lable img {
    width: 70%;
    float: left;
    padding-right: 7px;
}
.lable i {
    width: 30%;
    display: inline-block;

}
.phon {
    display: block;
}

.three-input-texts {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.input {
 width: 33%;
}
#keywords {
 padding:  10px 20px;
 border: solid 2px white;
 border-radius: 20px 0 0 20px;
 transition: border .9s;
}
#categories {
    padding:  10px;
    background-image: url(../imgs/grid.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 4 8;
    padding-left: 30px;
    border: solid 0px white;
    transition: border .9s;
}
#All-seties {
    padding:  10px;
    border-radius: 0 20px 20px 0;
    border: solid 0px white;
    transition: border .9s;
}
#keywords:hover, #categories:hover, #All-seties:hover {
    border: solid 2px rgb(78, 78, 223);
}
/*///Categories section////*/

.container {
    width: 68%;
    overflow: hidden;
    border-top: rgb(218, 203, 203) solid 2px;
    padding-top: 60px;
    padding-bottom: 30px;
}
.categ-img {
    position: relative;
    width: 10.6%;
    float: left;
    padding: 20px;
}
.categ-img img:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
.categ-img img {
    /* width: 80%;
    border: 2px solid rgb(165, 154, 154);
    border-radius: 50%; */
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
}
.categ-img span {
    display: block; 
    width: 90px;
    padding-top: 10px;
    color: rgb(68, 68, 211);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    
}
.between {
    margin: 0 3%;
}
.categs {
    margin-top: 30px;
}

/*/////////ads section/////////*/
.ads {
    border-top: 2px rgb(218, 203, 203) solid;
    border-bottom: 2px rgb(218, 203, 203)solid;
}
.feature-ads {
    position: relative;
    float: left;
    width: 48%;
    padding-bottom: 20px;
}
.latest-ads {
    position: relative;
    float: left;
    width: 48%;
    margin-left: 4%;
    padding-bottom: 20px;
}
.feature-ads-title, .latest-ads-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 17px;
    color: rgb(36, 36, 113);
    display: inline-block;
}
.feature-ads span, .latest-ads span{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    color: rgb(36, 36, 113);
}
.next , .prev {
    background-color: inherit;
    border: none;
}
.prev {
    padding-right: 10px;
}
.next:before {
    content: "<";
}
.prev:before {
    content: ">";
}
.container2 {
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding: 50px 0;
}
.feature-ads-content {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 30%;
}
/* ads details*/
.clear {
    clear: both;
}
.ad-img {
    position: relative;
    width: 14%;
    float: left;   
}
.ad-img img {
    width: 100%;
}
.m-right {
 margin-right: 2%;
}
.m-left {
    margin-left: 2%;
}
.middle-left {
 margin-left: 3%;
}
.middle-right {
    margin-right: 3%;
}
.ad-description {
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(36, 36, 113);
}
.ad-description span {
    color: #ef3b44;
}
.ad-price {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
/*ads btns*/
.call-btn, .chat-btn {
    background-color: inherit;
    border: 2px rgb(218, 203, 203) solid;
    border-radius: 50px 50px 50px 50px;
    width: 85px;
    height: 30px;
    transition: background-color .3s;
}
.call-btn i, .chat-btn i {
    color: rgb(165, 154, 154);
}
.ad-img > i {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 75%;
    cursor: pointer;
    transition: color 0.5s;
}
.ad-img > i:hover {
   color: red;
}
.ad-img img {
    opacity: 1;
    border: rgb(52, 52, 159) solid 0px;
    outline: 0px solid rgb(110, 110, 235);
    transition: border 0.1s;
}
.ad-img img:hover {
    opacity: 0.99;
    border: rgb(52, 52, 159) solid 3px;
    outline: 3px solid rgb(110, 110, 235);
}
.call-btn:hover, .chat-btn:hover {
    background-color: rgb(231, 217, 217);
}

/* add yor store*/
.your-store-item {
    float: left;
    position: relative;
    width: 9.3%;
    padding-top: 50px;
    text-align: center;
    list-style: none;
}
.your-store-item.middle {
    margin: 0 7.35%;
}
.your-store-item img {
    width: 100%;
    border:  solid 5px;
    border-color: rgb(218, 203, 203);
    border-radius: 30%;
    transition: border .3s;
}
.your-store-item:hover img {
    border-color: rgb(27, 27, 138)
}
.your-store-item a {
    text-decoration: none;
    display: block;
    padding-top: 15px;
    font-weight: bold;
    color: rgb(27, 27, 138);
    transition: color .6s;
}
.your-store-item a:hover {
    color: rgb(110, 110, 235);
}
.your-store-item span {
    display: block;
    padding-top: 7px;
}
.cont {
    width: 65%;
}
.ad-bar {
    position: relative;
}
.ad-bar a, .ad-bar h2 {
    display: inline-block;
}
.ad-bar h2 {
    position: absolute;
    right: 50%;
    top: -100%;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
}
.ad-bar .see-all-link {
    position: absolute;
    right: 0;
}
.ad-bar .see-all-link, .ad-bar .add-link {
    color: rgb(27, 27, 138);
    text-transform: capitalize;
}

/* free ads*/
.post-free-item {
    float: left;
    width: 10%;
}
.post-free-item.middle {
    margin: 0 9%;
}
.post-free-item span {
    display: block;
    padding-top: 10px;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(27, 27, 138);
    font-size: 13px;
}
.post-free-item img {
    width: 100%;
    border: 2.5px solid rgb(36, 36, 113);
    border-radius: 50%;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-align: center;
}
.post-free-item img:hover {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.post-free {
    overflow: hidden;
    width: 55%;
    margin: auto;
    border-top: rgb(218, 203, 203) 2px solid;
    padding: 70px 0 150px 0;
}
.button-bottom {
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: #ef3b44;
    margin-top: 20px;
    left: 50%;
    transform: translate(-60%);
    border: 2px #ef3b44 solid;
    border-radius: 50px 50px 50px 50px; 
    transition: opacity .2s;
}
.button-bottom span {
   color: white;
   font-weight: bold;
}
.button-bottom i {
    color: white;
   font-weight: bold;
   padding-right: 10px;
   font-size: 18px;
}
.button-bottom:hover {
    opacity: .9;
}

/*footer 1*/
.footer1 {
    padding: 80px 0;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 80px 0;
    height: 210px;
    background-color: #134b8f;
}
.app-store {
    background-color: white;
    position: absolute;
    display: inline-block;
    width: 10%;
    right: 31%;
    height: 50px;
}
.app-store span {
    position: absolute;
    display: inline-block;
    top: 12%;
    right: 30%;
    font-size: 10px;
    color: rgb(27, 27, 138);
}
.app-store h4 {
    position: absolute;
    display: inline-block;
    top: 24%;
    right: 16%;
    font-size: 17px;
    font-weight: bold;
    color: rgb(27, 27, 138)r;
}
.app-store i {
    position: absolute;
    display: inline-block;
    top: 22%;
    left: 12%;
    color: rgb(27, 27, 138);
}
.google-play {
    background-color: #ef3b44;
    position: absolute;
    display: inline-block;
    right: 20%;
    width: 10%;
    height: 50px;
}
.google-play span {
    position: absolute;
    display: inline-block;
    top: 12%;
    right: 25%;
    font-size: 10px;
    color: white;
}
.google-play h4 {
    position: absolute;
    display: inline-block;
    top: 24%;
    right: 13%;
    font-size: 17px;
    font-weight: bold;
    color: white;
}
.google-play i {
    position: absolute;
    display: inline-block;
    top: 22%;
    left: 9%;
    color: white;
}
.footer1 h3 {
    position: absolute;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 20%;
}

/*Footer*/
.footer {
    position: relative;
    padding: 50px 0;
    height: 205px;
}
.socialMedia-icons {
    position: absolute;
    left: 20%;
}
.socialMedia-icons a i{
    color: rgb(95, 91, 91);
}
.socialMedia-icons a{
    padding: 10px;
}
.socialMedia-icons a:hover {
    background-color: rgb(218, 203, 203);
}
.contact-us {
    position: absolute;
    right: 20%;
}
.contact-us a{
    display: inline-block;
    color: rgb(27, 27, 138);
    text-decoration: none;
    padding: 10px;
}
.contact-us a:hover {
    background-color: rgb(218, 203, 203);
}
.copy-rights {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%);
}